.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;  
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  animation: toast-in-right 0.7s;
}

.notification {
  background: #fff;
  transition: 0.3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  margin-bottom: 15px;
  width: 300px;
  color: #000;
  opacity: 0.9;
  box-shadow: 0px 4px 12px rgba(24, 86, 105, 0.15);
  border-radius: 8px;
}

.notification:hover {
  box-shadow: 0px 4px 12px rgba(24, 86, 105, 0.15);
  opacity: 1;
  cursor: pointer;
}

.notification-message {
  margin: 0;
  text-align: left;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.toast {
  color: #fff;
  padding: 20px;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    translate: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    translate: translateX(0);
  }
}

a {
  float: right;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}